@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body{
  font-family: 'Quicksand', sans-serif;

}
.postWrapper {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 20px;
  min-width: 200px;
  max-width: 160px;
  background-color: #F9F7F1;
  border: 2px solid #D0D2D6;
  border-radius: 16px;

  box-shadow:
    0 0 12px rgba(0, 0, 0, 0.1),
    inset 0 0 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow:
      0 0 18px rgba(0, 0, 0, 0.2),
      inset 0 0 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #5F6A77;
    margin: 0;
  }

  p {
    font-size: 1rem;
    color: #6C7A85; 
    margin: 0;
    opacity: 0.85;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #A2B2C1;
    padding: 10px 12px;
    border-left: 4px solid #5F6A77; 
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
  }

  img {
    width: 60%;
    position: relative;
    left: 2vw;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #D0D2D6;
  }
}
